@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #5DEBF0 rgb(41, 38, 33);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0
}

main {
  min-height: 100vh;
  width: 100%
}

section{
  height: 100vh;
  width: 100%
}